---
title : Contact
layout : base.njk
---


<div class="container-contact">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Contact Me</h2>
            <input id="subject" type="text" class="field" placeholder="Your Name">
            <input id="subject" type="email" class="field" placeholder="Your Email">
            <input id="subject" type="number" class="field" placeholder="Your Phone">
            <textarea id="message" class="field" placeholder="Message"></textarea>
            <button id="mail-link" class="btn-contact">Send</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loadEvents() {
        var mailString;
        function updateMailString() {
            mailString = '?subject=' + encodeURIComponent($('#subject').val())
                + '&body=' + encodeURIComponent($('#message').val());
            $('#mail-link').attr('href',  'mailto:info@teevo.io' + mailString);
        }
        $( "#subject" ).focusout(function() { updateMailString(); });
        $( "#message" ).focusout(function() { updateMailString(); });
        updateMailString();
    }
</script>